page-respawn {

  img {
    background-color: rgba(0,0,0,0) !important;
    min-width: 53px;
    min-height: 56px;
  }

  .background-graveyard {
    background: url('../assets/imgs/graveyard/aqhelper-graveyard2.png') no-repeat transparent;
    background-size: cover;
    background-position: center;
  }

  img.nav-avatar {
    height: 35px;
    width: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .toolbar-content {
    display: inline-flex;
  }

}
