page-curse-result {

  ion-content {
    background: url(../assets/imgs/curses/background.png) no-repeat transparent;
    background-size: cover;
    background-position: center;
  }

  .col {
    background-color: #ffffff;
  }

  .card-code {
    font-weight: bold;
  }
}
