page-respawn-result {

  ion-img {
    background-color: rgba(0,0,0,0) !important;
  }

  .dice-result {
    margin-top: -80%;
  }

  .dice-result-2 {
    margin-top: -52%;
  }

  .dice-result-inbox {
    margin-top: -52%;
  }

  .dice-result-inbox-2 {
    margin-top: -60%;
  }

  .tile-number {
    margin-top: -93%;
    position: relative;
  }

  .tile-number-2 {
    margin-top: -58%;
    position: relative;
  }

  .tile-number-inbox {
    margin-top: -58%;
    position: relative;
  }

  .tile-number-inbox-2 {
    margin-top: -78%;
    position: relative;
  }

  .row-1 {
    margin-top: 15%;
  }

  .row-2 {
    margin-top: 45%;
  }
}
