page-respawn-result {

  ion-img {
    background-color: rgba(0,0,0,0) !important;
  }

  .dice-result {
    margin-top: -65%;
  }

  .dice-result-2 {
    margin-top: -45%;
  }

  .dice-result-inbox {
    margin-top: -74%;
  }

  .dice-result-inbox-2 {
    margin-top: -50%;
  }

  .row-1 {
    margin-top: 5%;
  }

  .row-2 {
    margin-top: 10%;
  }
}
